/supports_devcloud_2026_markdown
/supports_devcloud_2026_markdown.zip
/supports_devcloud_tp_2026_pdf
rapport/tp3/techNova-ia/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.28.0/linux_amd64/terraform-provider-aws_v6.28.0_x5
# Terraform files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
terraform.tfplan
# Ignore CLI configuration files
.terraformrc
terraform.rc